<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="form-container">
        <h1>Add Activity</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="user">User: {{ user.first_name }} {{ user.last_name }}</label>
            <label for="message">Message:</label>
            <textarea name="message" id="message" required></textarea>
            <button type="submit">Add</button>
        </form>
    </div>
</body>
</html>
